h1 {
    color: red;
}

h2 {
    color: white;
    background-color: red;
}

.saldo {
    font-weight: bold;
}

.prenotazioni {
    border: 2px solid black;
    margin: 10px;
    width: 400px;
    float: left;
}
    