h1 {
    background-color: red;
    color: white;
}

div {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 100;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 100;
}
